.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f8fafc;
}

.body {
  flex: 1;
  display: flex;
  min-height: calc(100vh - 64px);
}

.main {
  flex: 1;
  min-width: 0;
  padding: 16px;
  background: #f8fafc;
}
